@import "https://fonts.googleapis.com/css2?family=Joti+One&display=swap";
@import "https://fonts.googleapis.com";

* {
  margin: 0;
  padding: 0;
}

.border-radius {
  border-radius: 15px;
}

body {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  background-image: url(../resource/abstract-1780242_1280.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: transparent;
  padding: 10px;
  text-align: right;
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #39ee51 !important;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.imagen {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.imagen img {
  max-width: 100%;
  transition: filter 0.3s ease;
}

.imagen:hover img {
  filter: grayscale(100%);
}

.imagen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagen:hover::before {
  opacity: 1;
}

.texto {
  text-align: left;
  padding: 20px;
}

.texto h2 {
  margin-top: 0;
}

.grid-container .item:nth-child(4n+1) {
  order: 1;
}

.grid-container .item:nth-child(4n+2) {
  order: 2;
}

.grid-container .item:nth-child(4n+3) {
  order: 4;
}

.grid-container .item:nth-child(4n+4) {
  order: 3;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 420px;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #f189f5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px rgb(247, 186, 242);
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.producto h3 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.producto p {
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botones {
  text-align: center;
}

input[type=submit], input[type=reset] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a70fe4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: #45456d;
}

.map-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 56.25%; /* Proporción 16:9 para mantener la responsividad del mapa */
  height: 0;
  overflow: hidden;
  background-image: url('../resource/local.jpg'); /* Agregar la imagen como fondo */
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.map-container iframe {
  position: absolute;
  top: 20px; /* Ajustamos la posición desde la parte superior */
  right: 20px; /* Ajustamos la posición desde el lado derecho */
  width: 50%; /* Ajustamos el ancho del mapa */
  height: 50%; /* Ajustamos la altura del mapa */
}

.map-container p {
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical según sea necesario */
  left: 20px; /* Ajusta la posición horizontal según sea necesario */
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: transparent;
  color: #39ee51;
  text-align: center;
  padding: 10px 10px;
}

.redes-sociales {
  text-align: center;
  margin-bottom: 20px;
}

.icono-red-social {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #39ee51;
}

.icono-red-social:hover {
  color: #043f16;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }

  .navbar-brand {
    font-size: 16px;
  }

  .grid-container .texto,
  .grid-container .imagen {
    order: unset;
  }

  .grid-container .texto:nth-child(odd),
  .grid-container .imagen:nth-child(odd) {
    order: unset;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    font-size: 12px;
    margin-left: 5px;
  }

  .navbar-brand {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
