@font-face {
    font-family: "HighVoltage";
    src: url("../resource/fonts/HighVoltage\ Rough.ttf");
}

body {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    background-image: url(../../../resource/abstract-1780242_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-size: 1.2em;
}

h1,
h2 {
    text-align: center;
}

.description p,
.card-title,
.card-text,
.producto p,
.producto h3,
.derechos-autor p,
.newsletter {
    color: $primary-color;
}