@mixin input-styles {
    width: 100%;
    padding: $input-padding;
    border: $input-border;
    border-radius: $input-border-radius;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}